{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image %}
    {{ parent() }}

    {% if product.extensions.variantThumbnails is defined %}
        <div class="product-variants-container" data-magedia-variant-preview="true">
            <div class="product-variants">
                {% for variant in product.extensions.variantThumbnails %}
                    <a href="{{ variant.url }}" class="variant-link" title="{{ variant.title }}" data-image="{{ variant.image }}">
                        <img src="{{ variant.image }}" alt="Variant Thumbnail" class="variant-thumbnail"/>
                    </a>
                {% endfor %}
            </div>

            <button class="variant-arrow left"><b><</b></button>
            <button class="variant-arrow right"><b>></b></button>
        </div>
    {% endif %}

    <script>
        document.querySelectorAll('.card-body .product-image-wrapper .product-image.is-standard').forEach(image => {
            if (image.hasAttribute('alt')) {
                image.setAttribute('title', image.getAttribute('alt'));
            }
        });
    </script>
{% endblock %}